body {
    text-align: center;
    background-color: #323232;
}

h1 {
    color: white;
}

p {
    color: whitesmoke;
}

button {
    padding: 15px;
    margin: 20px;
    color: white;
    background-color: #323232;
    cursor: pointer;
}